/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background: #f5f5f5;
    margin: 0 auto;}

h1 {
    font-weight: 500;
    font-size: 20px;}

h2 {font-size: 14px;}

/*.div {column-gap: 30px;}*/

.parametr {
    text-transform: uppercase;
    font-size: 14px;
}

.produkt {color: #959595;}

/*celek*/
.zbozi {
   display: flex;
    flex-basis: 440px;
    width: 670px;
    margin: 10vh 35vw;
    /*border: 3px solid yellow;*/
}

/*levá část*/
.vizual {
    display: flex;
    flex-direction: column;
    /*border: 2px dashed purple;*/
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: linear-gradient(to bottom right, #06d7c1, #50cc49);
    color: white;
}

.slogan {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.logo {
    display: flex; 
    margin: 30px 30px 15px 30px;}

.slogan {
    display: flex;
    margin: 15px 30px 30px 30px;}

.cenovka {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 30px 30px;
    align-items: flex-end;
    z-index: 2;
}

.cena {
    font-size: 28px;
    font-weight: 500;
}

.zaruka {
    font-size: 12px;
}

.bota {
    display: flex;
    margin: 0;
    padding: 0;
   /*border: 2px solid red;*/
    position: relative;
    left: -100px;
    right: 0;
    max-width: 100%;
    overflow-x: visible;

}
/*konec - levá část*/


/*pravá část*/
.detaily {
    display: flex;
    flex-direction: column;
    /*border: 2px dotted green;*/
    width: 50%;  
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

div .popisky {margin-bottom: 0;}

div .size {margin-top: 0;}

.popisky, .size, .akce {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 30px 0px 30px;
    margin-top: 30px;
}

.nazev, .produkt, .parametr {
    display: flex;
    padding: 0;
    text-align: justify;
    margin-bottom: 0;
}

.parametr {margin-top: 30px;}
.popis {
    margin: 30px 0;
}

.size {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: 2px solid #06d7c1;   
    margin: 0;
}

.velikosti {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}


.parametr {
    margin-top: 30px;
}

li {
    display: inline-flex;
    padding: 5px;
    align-items:flex-start;}

li:hover {
    color: #f15f42;
    border: 1px solid #f15f42;
    border-radius: 50%;
    margin: -1px;
    padding: 5px;}

.akce {
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    margin-bottom: 30px;}
        
.tlacitko {
    display: flex;
    padding: 10px 20px;
    background-color: #f15f42;
    border-radius: 5px;
    margin-top: 30px;
}

ul {
    display: inline-flex;

}
    
a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 5px 5px;
}




/*konec - pravá část*/